@charset "utf-8";

.h-box {
  padding: 0 20px;
  position: fixed;
  z-index: 90;
  width: 100%;
}

.h-item {
  width: 100%;
  align-items: center;
  padding: 5px 20px;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

// .logo {
//   width: 200px;
//   @media screen and (max-width: 768px) {
//     width: 180px;
//   }
//   //スマホL
//   @media screen and (max-width: 425px) {
//     width: 120px;
//   }

//   // スマホ
//   @media screen and (max-width: 320px) {
//     width: 120px;
//   }
// }

.logo-txt {
  font-size: 35px;
  font-weight: bold;
  font-style: italic;
  margin: 0;
  color: #333;
  text-decoration: none;
  //スマホL
  @media screen and (max-width: 425px) {
    font-size: 30px;
  }

  // スマホ
  @media screen and (max-width: 320px) {
    font-size: 25px;
    padding: 2px 0;
  }
}

.nav-box {
  @media screen and (max-width: 768px) {
    display: none;
  }
}

.ul-box {
  display: flex;
}

.li-box {
  list-style: none;
}

.link {
  text-decoration: none;
  color: #333;
  padding: 1em;
  padding-bottom: 0px;
  font-size: 20px;
  font-weight: bold;
  &:hover {
    border-bottom: 2px solid #333;
    color: #513a3a;
  }
}

//  Hero
////////////////////

.h-img {
  width: 100%;
  height: 900px;
  object-fit: cover;
  border-radius: 15px;
  margin-top: 100px;

  // ノートパソコン
  @media screen and (max-width: 1024px) {
    width: 100%;
    height: 600px;
  }

  @media screen and (max-width: 768px) {
    width: 100%;
    height: 400px;
  }

  //スマホL
  @media screen and (max-width: 425px) {
    width: 100%;
    height: 270px;
  }
  // スマホ
  @media screen and (max-width: 320px) {
    width: 100%;
    height: 250px;
  }
}

//   About
///////////////////////

.img-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.a-img {
  width: 300px;
  height: 500px;
  object-fit: cover;
  border-radius: 20px;
  @media screen and (max-width: 768px) {
    width: 200px;
    height: 400px;
  }
  // ノートパソコン
  @media screen and (max-width: 1024px) {
    width: 250px;
    height: 450px;
  }
  // スマホ
  @media screen and (max-width: 320px) {
    height: 60px;
    height: 260px;
  }
}

.a-title {
  margin-bottom: 0px;
}

.a-name {
  margin-top: 5px;
}

.icons-box {
  display: flex;
  text-align: center;
  justify-content: center;
}
.icon {
  margin: 0;
}

//   Menu
/////////////////////////////////////

.m-img-box {
  display: flex;
  justify-content: center;
  align-items: center;
  // 縦並び
  @media screen and (max-width: 768px) {
    display: block;
  }
}

.m-img {
  width: 300px;
  height: 500px;
  object-fit: cover;
  border-radius: 20px;
  // ノートパソコン
  @media screen and (max-width: 1024px) {
    width: 250px;
    height: 450px;
  }

  @media screen and (max-width: 768px) {
    width: 200px;
    height: 400px;
  }
  // スマホ
  @media screen and (max-width: 320px) {
    height: 60px;
    height: 260px;
  }
}

//  Acsess
/////////////////////

.fig-map {
  margin: 0 auto;
}

.map {
  border-radius: 20px;
  // ノートパソコン
  @media screen and (max-width: 1024px) {
    width: 600px;
    height: 600px;
  }

  @media screen and (max-width: 768px) {
    width: 440px;
    height: 440px;
  }

  //スマホL
  @media screen and (max-width: 425px) {
    width: 320px;
    height: 320px;
  }

  @media screen and (max-width: 320px) {
    width: 250px;
    height: 250px;
  }
}

// contact
////////////////////////

.contact-box {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.form-box {
  background: #fff;
  border-radius: 12px;
}

.input-box {
  background: #fff;
  border: 1px solid #333;
  border-radius: 12px;
  display: block;
  margin: 20px;
  width: 600px;
  height: 40px;
  @media screen and (max-width: 768px) {
    width: 400px;
  }

  //スマホL
  @media screen and (max-width: 425px) {
    width: 320px;
  }

  @media screen and (max-width: 320px) {
    width: 200px;
  }
}

.txt-box {
  background: #fff;
  border-radius: 12px;
  border: 1px solid #333;
  width: 600px;
  height: 300px;
  @media screen and (max-width: 768px) {
    width: 400px;
  }

  //スマホL
  @media screen and (max-width: 425px) {
    width: 320px;
    height: 320px;
    height: 250px;
  }

  @media screen and (max-width: 320px) {
    width: 200px;
    height: 220px;
  }
}

.contact-btn {
  // margin-top: 20px;
  // padding: 10px 20px;
  // border-radius: 20px;
  // background: rgb(209, 255, 252);

  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  color: #ffffff;
  font-size: 15px;
  padding: 10px 20px 10px 20px;
  margin-top: 20px;

  @media screen and (max-width: 320px) {
    font-size: 10px;
  }

  &:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }
}

//   Footer
///////////////////////

.footer-box {
  text-align: center;
  margin-top: 60px;
}

/////////////// sp-menu /////////
/////////////////////////////////////////
.sp-btn {
  position: fixed;
  z-index: 101;
  @media screen and (min-width: 769px) {
    display: none;
  }
}

.sp-box {
  position: fixed;
  width: 28px;
  height: 16px;
  right: 45px;
  top: 65px;
  z-index: 100;
}

.sp-border {
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  background: #333;
  //.p-sp-menu-btn__border--01
  &--01 {
    top: 0;
  }
  //.p-sp-menu-btn__border--02
  &--02 {
    top: 8px;
  }
  //.p-sp-menu-btn__border--03
  &--03 {
    top: 16px;
  }
}

.active {
  .sp-border {
    &--01 {
      transform: translateY(10px) rotate(45deg);
    }
    &--02 {
      opacity: 0;
    }
    &--03 {
      transform: translateY(-6px) rotate(-45deg);
    }
  }
}

// メニューの初期状態
.sp-menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffa500;
  opacity: 0.98;
  @media screen and (min-width: 768px) {
    display: none;
  }

  &.active2 {
    display: block;
  }
}

.sp-menu-box {
  margin-top: 300px;
}

.sp-ul {
  margin: 0 auto;
  width: 100%;
  text-align: center;
  padding: 0;
}

.li-item {
  list-style: none;
  padding: 10px;
}

.sp-link {
  color: #333;
  text-decoration: none;
  font-size: 20px;

  &:hover {
    border-bottom: 1px solid #333;
  }
}

.active2 .sp-menu {
  display: block;
}
